*.apk
*.ap_
*.dex
bin/
gen/
out/
.gradle/
build/
local.properties
# Log Files
*.log
.navigation/
*.iml
.idea/workspace.xml
# Keystore files
*.jks
/.idea/libraries
.DS_Store
/captures
.exteórnalNativeBuild